:root {
    /* colors */
    --primary-bg: #0A192F;
    --secondary-bg: #1C2C46; 
    --light-bg: #E6ECF1; 
    
    --primary-text: #FFFFFF; 
    --secondary-text: #CCD6F6; 
    --tertiary-text: #A8B2D1; 
    --dark-text: #0A192F;

    --primary-button: #407BFF; 
    --button-hover: #0056D2;
    --button-text: #FFFFFF; 

    --navbar-bg: #0A192F; 
    --navbar-text: #CCD6F6;

    /* spacing */
    --gap: 4rem;
    --gap-small: 1rem;


    --font-size-h1: 4.2rem;
    --font-size-h2: 2.2rem;
    --font-size-h3: 1.5rem;
    --font-size-h4: 1.02rem;
    --font-size-h5: 0.90rem;
}

:root.dark {
    /* colors */
    --white-color: #FFFFFF;
    --black-color: #212529;
    --primary-color: #7a8897;
    --secondary-color: #007BFF;
    --shadow-color: rgba(0, 0, 0, 0.1);
}

html, body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* fonts size */
h1 {
    font-size: var(--font-size-h1);
    line-height: 1;
}

h2 {
    font-size: var(--font-size-h2);
}

h3 {
    font-size: var(--font-size-h3);
    font-weight: 300;
}

h4 {
    font-size: var(--font-size-h4);
    font-weight: 500;
}

h5 {
    font-size: var(--font-size-h5);
    font-weight: 200;
}

@media (max-width: 1280px) {
    h1 {
        font-size: var(--font-size-h2);
        line-height: 1;
    }
    
    h2 {
        font-size: var(--font-size-h3);
        color: var(--secondary-color);
    }
    
    h3 {
        font-size: var(--font-size-h4);
        font-weight: 300;
    }
    
    h4 {
        font-size: var(--font-size-h5);
        font-weight: 200;
    }
}

/* navbar */
.navbar {
    height: 60px;
}

.navbar__links {
    display: flex;
    align-items: center;
    height: 60px;
    justify-content: center;
    gap: 8vw;
    position: fixed;
    width: 100vw;
    z-index: 100;
    box-shadow: 0 4px 6px var(--shadow-color);
    list-style: none;
}

.navbar__link {
    display: flex;
    align-items: center;
    gap: 3px;
    text-decoration: none;
}

.navbar__icon {
    height: 20px;
}

/* containers */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* colors */

.navbar__links {
    background-color: var(--navbar-bg);
    color: var(--navbar-text);
}

.navbar__icon{
    fill: var(--navbar-text);
}

.container__background--one {
    min-height: 35rem;
    background: linear-gradient(to bottom, var(--primary-bg), var(--secondary-bg), var(--light-bg));
}

.container__background--two {
    background-color: var(--light-bg);
}

.container__background--three {
    background: linear-gradient(to bottom, var(--light-bg), var(--light-bg), var(--light-bg), var(--light-bg));
}

.container__background--four {
    background: var(--light-bg);
}

.container__paragraph {
    color: var(--dark-text);
}

.container__button {
    background-color: var(--primary-button);
    color: var(--button-text);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}
.container__button__icon {
    fill: var(--button-text);
    height: 30px;

}

.container__button:hover {
    background-color: var(--button-hover);
    transform: scale(1.05); 
    transition: 0.3s ease-in-out;  
}

.navbar__link {
    color: var(--navbar-text);
}

h2 {
    color: var(--dark-text);
}

h1 {
    color: var(--primary-text);
}
h4 {
    color: var(--secondary-text);
}

.container__title {
    border-bottom: 1px solid #212529;
    margin-bottom: 20px;
}

.container__main__title {
    color: var(--secondary-text);
}

.container--secondary {
    height: 400px;
}

.container__main {
    display: flex;
    justify-content: center;
    width: 80%;
    gap: var(--gap);
    align-items: center;
    height: 90dvh;
}

.container__main--project {
    background-color: white;
    border-radius: 50px;
    gap: 0px;
    width: 65%;
    height: 90%;
}

.container__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    min-width: 50%;
}

.container__text__project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    min-width: 50%;
    margin-right: 25px;
}

.container__text__project--two {
    margin-right: 0px;
    margin-left: 45px;
}

.container__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 320px;
}

.container__image {
    max-width: 50%;
    filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.2));
}

.container__buttons {
    padding-top: 80px;
    display: flex;
    justify-content: space-evenly;
}

.container__buttons--project {
    padding-top: 20px;
}

.container__button {
    padding: 20px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
}

.container__icon {
    width: 7rem;
    min-width: 4rem;
    height: 100px;
    object-fit:contain;
    filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.5));
}

.container__icons {
    display: flex;
    flex-direction: column;
}

.container__main--skills {
    gap: 12vw;
}

@media (max-width: 1280px) {
    .container__button {
        padding: 12px;
    }

    .container__main--project {
        width: 90%;
    }
}

.container__image--profile {
    max-width: 300px;
    min-width: 200px;
    min-height: 200px;
    object-fit: contain;
    border-radius: 50px;
    padding: 0px 0px 20px 20px;
    background-color: var(--primary-bg);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.container__image--project {
    width: 50%;
    min-width: 50%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 50px;
}

.projects__title {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: var(--button-text);
    background-color: var(--primary-bg);
    height: 4rem;
}

.nav__toggler {
    display: none;
    font-size: 30px;
    cursor: pointer;
}



.container__certificates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    min-height: 30rem;
    background-color: var(--light-bg);
    padding-bottom: 3rem;
}

.container__icons__certificates{
    min-height: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container__pointer {
    cursor: pointer;
}

.container__certificates__img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    min-height: 20rem;
    padding-top: 1rem;
}

.container__certificate {
    width: 90%;
    height: 0;
    visibility: hidden;
    position: absolute;
    max-height: 35rem;
    background-color: #0A192F;
    border-radius: 20px;
    padding: 0px 0px 10px 10px;
}

.container__certificate--active {
    position: relative;
    visibility: visible;
    z-index: 0;
    width: 90%;
    height: 90%;
    display: flex;
}

.container__background {
    background-color: var(--button-text);
    height: 90px;
    border-radius: 20px;
}

@media (max-width: 768px) {

    .container__certificates {
        height: auto;
    }

    .container__icon {
        max-width: 100%;
    }

    .container__certificates__img {
        height: auto;
    }
    .container__icons__certificates {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 100px);
        align-items: center;
        justify-items: center;
        min-height: auto;
    }

    .container__certificate {

        background-color: #0A192F;
        border-radius: 20px;
        padding: 0px 0px 10px 10px;
    }

    .container__pointer--one { grid-column: span 2; }
    .container__pointer--two { grid-column: span 2; }
    .container__pointer--three { grid-column: span 2; }
    .container__pointer--four { grid-column: 2 / 4; } 
    .container__pointer--five { grid-column: 4 / 6; }

    .navbar {
        height: 0px;
    }

    .navbar__links {
        height: 0px;
        visibility: hidden;
    }

    .navbar__links.show {
        display: flex;
        left: auto;
        right: 30px;
        top: 30px;
        position: fixed;
        flex-direction: column;
        width: 120px;
        height: 300px;
        gap: 35px;
        align-items: start;
        padding-inline: 25px;
        border-radius: 20px;
        box-shadow: 0.5px 0.5px 4px 0px var(--black-color);
        visibility: visible;
        transform: scale(1);
        z-index: 2;
    }

    .nav__toggler {
        padding-inline: 1rem;
        padding-top: 1rem;
        border-bottom-left-radius: 20px;
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        color: var(--button-text);
        background-color: var(--navbar-bg);
        box-shadow: 0.5px 0.5px 4px 0px var(--black-color);
        z-index: 2;
    }

    .container__background--one {
        height: 100dvh;
        min-height: 49rem;
    }

    .container__main {
        display: flex;
        flex-direction: column-reverse;
        height: auto;
    }
    .container__main__title{
        padding-bottom: 10px;
    }
    .container--secondary {
        height: auto;
    }
    .container__image {
        max-width: 80%;
    }
    .container__text {
        width: 95%;
        align-items: center;
        text-align: center; 
    }
    .container__buttons{
        padding-top: 3rem;
        display: flex;
        flex-direction: column;
        gap: var(--gap-small);
    }
    .container__button{
        padding: 0.8rem 1.2rem;
    }
    .container__main--reverse {
        flex-direction: column;
    }
    .container__icons {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: var(--gap);
        justify-content: space-evenly;
        align-items: center;
    }
    .container__image--project {
        width: 100%;
        height: 50%;
        min-height: 20%;
    }
    .container__main--project {
        height: 85dvh;
        min-height: 40rem;
    }
    .container__text {
        margin: 0;
    }
    .container__body {
        height: auto;
        padding-top: 3rem;
    }
    .container__background--four {
        height: 90dvh;
        min-height: 45rem;
    }
    .container__buttons--project {
        padding-bottom: 1rem;
    }

}

@media (max-width: 560px) {
    .container__background--one {
        height: 100dvh;
        min-height: 44rem;
    }
}

/* effects */

.scale-zoom {
    transform: scale(0.7);
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.scale-zoom.active {
    transform: scale(1);
    opacity: 1;
}

.no-scale-zoom {
    transform: none!important;
    opacity: 1;
    transition: none!important;
}

.slide-right {
    transform: translateX(20px);
    opacity: 0;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out; 
}

.slide-left {
    transform: translateX(-20px);
    opacity: 0;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out; 
}

.finish {
    opacity: 1;
    transform: translateX(0); 
}

.footer {
    padding-block: 2rem;
    display: flex;
    justify-content: center;
    color: var(--primary-text);
    background-color: var(--primary-bg);
}

.footer__main {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer__title {
    text-align: start;
    padding-block: 1rem;
    color: var(--primary-text);
}

.footer__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__icons {
    display: flex;
    gap: 1rem;
}

.footer__icon {
    width: 3vw;
    fill: var(--light-bg);
}

.footer__nav{
    text-decoration: none;
}

.footer__nav__list {
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
    list-style: none;
}
.footer_links {
    text-decoration: none;
    color: var(--light-bg);
}

@media (max-width: 768px) {
    .footer__main {
        width: 80%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: start;
    }

    .footer__title {
        font-size: 1.4rem;
    }

    .footer__nav {
        margin-block: 3rem;
    }
    .footer__icon {
        width: 8vw;
        fill: var(--light-bg);
    }
}